<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /cmodel/
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ /cmodel/index.php [QSA,L]
</IfModule>
